img{
    /* Logo accueil */
position: absolute;
width: 214px;
height: 215px;
left: 25%;
top: 75px;
margin-top:25px ;
}

h1{
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
text-align: center;
color: #000000;
}

header{
    background-color: aliceblue;
}
                            